.loaderSpinner {
    width: 75px;
    aspect-ratio: 1;
    --g:no-repeat radial-gradient(farthest-side ,#0000 calc(95% - 2px), #109812 calc(100% - 2px) 98%,#0000 101%);
    background:var(--g),var(--g),var(--g),var(--g),var(--g),var(--g),var(--g),var(--g);
    background-size: 15px 15px;
    animation: l10 1s infinite alternate linear;
}
@keyframes l10 {
    0%,30% {background-position:0 0,50% 0,100% 0,0 50%,100% 50%,0 100%,50% 100%,100% 100%}
    70%,100% {background-position:15% 15%,50% 0,85% 15%,0 50%,100% 50%,15% 85%,50% 100%,85% 85%}
}